.jumbotron{
    text-align: center;
    background: none;
}

.sectionLight{
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}

.getstarted{
    margin-top: 20px;
}

.btnclass{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}

h5.modal-title{
    margin: auto;
}

.modalformwrapper{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
    width: 50%;
}

.btnCenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 50%;
}

.newclass1{
    width: 60%;
}
.newclass2{
    width: 65%;
}

.footerimg{
    width: 50%;
    padding: 15px;
}

.fa {
    margin: 10px;
}

.fa-facebook-square{
    color: #3b5998;
}

.fa-google-plus-square{
    color: #c32f10;
}

.fa-instagram{
    color: #ffffff;
}

.socialWrapper{
    margin:auto;
}